@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
   
/* Intructor */
*{
     font-family: "Poppins", sans-serif;
     margin: 0;
    padding: 0;
      box-sizing: border-box;
     list-style: none;
    scroll-padding-top: 2rem;
  scroll-behavior: smooth;
   text-decoration: none;
}
      .profile-area{
        padding: 80px 0;
      }

      .card{
        box-shadow: #fff;
        overflow: hidden;
       border-radius: 0%;
       border: none;
      }
      .img1 img{
        height: 200px;
        
        width:100%;
      }
      .img2 img{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        width: 140px;
        height: 140px;
        border-radius: 50%;
       
        margin-top: -80px;

      }
      .ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
    font-size:15px;
}

.rating-color{
    color:#fbc634 !important;
}

.review-count{
    font-weight:400;
    margin-bottom:2px;
    font-size:15px !important;
}

.small-ratings i{
  color:#cecece;   
}

svg{
  font-size: 18px;
  color: blue;
}

/* Home.html */

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppin' ,sans-serif;
  color: #222;
}

.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;
  
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link{
  font-size: 1.1em !important;
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover .nav-link.active{
  color: #000;
}

.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #5ba2ff;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
  width: 100%;
  visibility: visible;
}

.login-button{
  background-color:#5ba2ff; 
  border: 1px solid #68d2e8;
  color: #ffff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  margin-left: 100px;
}

.login-button:hover{
  background-color: #68d2e8;
  border: 1px solid #5ba2ff;
}



.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
  font-size: 200%;
  font-weight: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary{
  background-color: #68d2e8;
  border: 1px solid #5ba2ff;
}

.btn-primary:hover{
  background-color: #68d2e8;
  border: 1px solid #5ab2ff;
}

.jumbotron{
  padding: 1rem;
  border-radius: 0;
}

.padding{
  padding-bottom: 2rem;
}

.welcome{
  width: 75%;
  margin: 0 auto;
}

.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-code{
  color: #e54d26;
}

.fa-bold{
  color: #563d7c;
}

.fa-css3{
  color: #2163af;
}

.fa-code, .fa-bold, .fa-css3{
  font-size: 4em;
  margin: 1rem;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}
/* social icon */

.fa-facebook{
  color: #3b5998;
}

.fa-google{
  color: #db4437;
}

.fa-instagram{
  color: #515bda rgb(81, 91, 212);
}

.fa-viber{
 color: #7360f2;
}

.fa-facebook:hover,
.fa-google:hover,
.fa-instagram:hover,
.fa-viber:hover {
  color: #d5d5d5;
}

/* footer */

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
 
.hr,light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem ;
}

footer a{
  color: #d5d5d5;
}

hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem ;
}

/* media queries */
@media (max-width:992px){
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px){
  .carousel-caption{
    top: 45%;
  }
  
  .carousel-caption h1{
    font-size: 350%;
  
  .carousel-caption h3{
    font-size: 140%;
    font-weight: 400%;
    padding-bottom: .2rem;
  }
  }

.carousel-caption btn{
  font-size: 95%;
  padding: 8px 14px;
}
.display-4{
  font-size: 200%;
}
}
.social a{
  font-size: 2.5em;
  padding: 1.2rem;
}

@media (max-width: 576px){
  .carousel-caption{
    top: 40%;
  }
}
  .carousel-caption h1{
    font-size: 250%;
  
  .carousel-caption h3{
    font-size: 110%;
    
  }
  }
  .carousel-caption btn{
    font-size: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators{
    display: none;
  }

  .display-4{
    font-size: 160%;
  }
  
  .social a{
    font-size: 2em;
    padding: .7rem;
  }